* {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}
input {
  border: 0 solid #e2e8f0;
}

a {
  text-decoration: none;
}
.three-colum-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem 0;
  justify-items: center;
}
.two-colum-grid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 1rem 0;
}

.btn {
  color: #1d1d1d;
  padding: 0.5rem 0.5rem;
  border: 1px solid #1d1d1d;
  border-radius: 0.25rem;
  background-color: transparent;
  &:hover {
    color: #fff;
    border-color: transparent;
    background-color: #1d1d1d;
  }
  &__full {
    width: 100%;
  }
  &--low {
    margin-top: 20px;
  }
}

.paginate {
  margin-top: 30px;
  text-align: center;
  &__previous {
    margin-right: 2rem;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
